.App {
  text-align: center;
  background-color: #30302f;
  height: 100vh;
  background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimage.flaticon.com%2Ficons%2Fpng%2F512%2F2493%2F2493712.png&f=1&nofb=1");
  background-size: cover;
}

.navigation{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 3px;
  background-color: rgb(31, 30, 30);
  flex-direction: row;
}

.links{
  text-decoration: none;
  color: white;
}

.video-singles{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}
.audio-singles{
  margin-top: 20px;
}
.audio-sing{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}