.message{
    padding: 10px;
    margin: 10px;
    width: fit-content;
}

.message__user{
    margin-left: auto;
    color: black;
    text-align: left !important;
}

.message__userCard{
    background-color: rgb(24, 24, 129) !important;
    color: rgb(8, 0, 0) !important;
}

.message__guestCard{
    background-color: rgb(90, 88, 86) !important;
    color: black;
    marg
}
.message__name{
    text-align: left;
    color: white;
}